# Build artifacts
build/
build-*/
build_msvc/
build-msvc/

# Distribution files
dist/

# External libraries
libs/

# Log files
log/
logs/
*.log

# Visual Studio and CMake user files
*.vcxproj.user
*.suo
*.user
CMakeCache.txt
CMakeFiles/

# Ignores
.autogitpull.ignore

# Generated icon files
*/.bld

vcpkg/
