extends: default

rules:
  truthy: disable
  line-length:
    max: 140
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true
  document-start: disable

ignore: |
  # allow vendor templates if added later
  .github/**/vendor/**
