// version.rc  – fixed
#include <winver.h>      // ← gives FILEOS / FILETYPE / flag constants
#include "version.hpp"   // ← your version macros

VS_VERSION_INFO VERSIONINFO
 FILEVERSION     AUTOGITPULL_VERSION_RC
 PRODUCTVERSION  AUTOGITPULL_VERSION_RC
 FILEFLAGSMASK   0x3fL
#ifdef _DEBUG
 FILEFLAGS       VS_FF_DEBUG
#else
 FILEFLAGS       0x0L
#endif
 FILEOS          VOS__WINDOWS32
 FILETYPE        VFT_APP
 FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "supermarsx\\0"
            VALUE "FileDescription",  "AutoGitPull\\0"
            VALUE "FileVersion",      AUTOGITPULL_VERSION_STR "\\0"
            VALUE "InternalName",     "autogitpull.exe\\0"
            VALUE "OriginalFilename", "autogitpull.exe\\0"
            VALUE "ProductName",      "autogitpull\\0"
            VALUE "ProductVersion",   AUTOGITPULL_VERSION_STR "\\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
